@charset "utf-8";

/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:"微软雅黑",sans-serif;font-size:12px}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none; color:#000}
a:hover,a:active,a:focus{text-decoration:none}
.blind{position:absolute;top:0;left:0;width:1px;height:1px;overflow:hidden;visibility:hidden;font-size:0; line-height:0}
.img_tt{ width:327px; height:82px; margin:0 auto; display:block;}
/*header*/
#header{ width:100%; height:92px;}
.header_in{ width:1002px; height:92px; margin:0 auto; line-height:92px; overflow:hidden; position:relative;}
.logo{ width:287px; height:92px; /*background:url(../img/logo.png) no-repeat;*/ display:block; float:left;}
.nav{height:35px;float:left; top:30px; left:350px; position:absolute;}
.nav a{ float:left; padding:0 15px; height:35px; line-height:35px;color:#91a6bb; font-size:16px; }
.nav a:hover{ background:#0076ca;color:#fff;}
.nav_act{ background:#0076ca !important;color:#fff !important;}
.top_search{ width:183px; height:33px; background:url(../img/search_bg.png) no-repeat; display:block; position:absolute; top:30px; right:40px;}
.top_search input{ width:114px; height:29px; margin:2px 0 0 15px; border:none; background:#0076ca; color:#fff; float:left; padding:0 10px; line-height:29px;}
.top_search .search_btn{ width:31px; height:31px; display:block; float:left}
/*header*/
/*banner*/
#banner{ width:100%; height:470px; background:#0076ca url(../img/banner_bg.gif) repeat-x bottom;}
.banner_in{ width:1002px; height:470px; margin:0 auto; position:relative;}
.banner_box{ width:410px; height:280px; position:absolute; top:80px; left:50px;color:#fff}
.banner_ft_1{ font-size:35px; color:#ffd800}
.banner_ft_2{ font-size:50px; color:#ffd800}
.banner_ft_3{ font-size:30px;}
.banner_ft_4{ font-size:18px;}
.banner_box_btn{ width:176px; height:41px; background:url(../img/banner_btn_bg.png) no-repeat; display:block; color:#fff; font-size:25px; position:absolute; text-align:center; line-height:41px; top:284px; left:206px;}
.banner_box_btn:hover{background:url(../img/banner_btn_bg2.png) no-repeat;}
.banner_img{ position:absolute; right:30px; top:50px;}
/*banner*/
.content{ width:1002px; margin:0 auto;margin-top:10px;}
.content_in{ width:972px; overflow:hidden; padding:0 15px;}
/*政务公开列表*/
.con_bot{ width:1002px; margin-bottom:20px;overflow:hidden}
.con_notice{border-right:#e0dfdf 2px dashed; width:440px; margin-top:30px;padding:0 20px; float:left; font-size:16px; }
.notice_none{ border-right:none;}
.con_notice p{ width:440px; display:block; height:40px; line-height:40px;}
.con_notice p em{ float:left;color:#858585; font-size:24px;}
.more{ float:right;}
.con_notice p a:hover{ color:#0076ca}
.content_box{ width:440px; height:125px; margin-top: 10px;}
.content_box li{ width:410px; height:45px;line-height:45px; padding:0 15px; }
.content_box li:hover{ background:#91a6bb;}
.content_box li:hover a{ color:#fff;}
.content_box li:hover span{ color:#fff;}
.content_box li a{ width:270px; float:left; overflow:hidden; text-overflow:ellipsis;white-space: nowrap;}
.content_box li span{ width:100px; float:right; text-align:right}
.box_img{ margin:0 auto; width:706px; height:298px; margin-top:15px;}
/*政务公开列表*/
/*宣传栏*/
#content_blue{width:100%; margin:0 auto; background:url(../img/cont_bg.gif) repeat-x; height:477px; display:block;}
.content_blue_in{width:1002px; overflow:hidden;background:url(../img/cont_bg.png) 50% 0 no-repeat; display:block; height:477px; margin:0 auto; position:relative;}
.img_tt2{ width:327px; height:82px;display:block; position:absolute; top:75px; left:340px;}
.science_news{ width:475px; height:200px; border:#fff 1px solid; position:absolute; top:180px; left:17px;color:#fff; font-size:16px; padding:15px;}
.science_news p{ width:475px; height:40px; line-height:40px;}
.science_news p em{ font-size:24px; float:left;}
.science_news p a{ float:right; color:#fff;}
.science_news p a:hover{ color:#a1cceb}
.science_news_box{ width:475px;}
.science_news_box li{ width:445px; height:50px; line-height:50px; padding:0 15px;}
.science_news_box li:hover{ background:#a1cceb}
.science_news_box li:hover a{ color:#03538b}
.science_news_box li:hover span{ color:#03538b}
.science_news_box li a{ width:270px; float:left; overflow:hidden; text-overflow:ellipsis;white-space: nowrap; color:#fff;}
.science_news_box li span{width:100px; float:right; text-align:right;}
.show_img{ width:314px; height:320px; position:absolute; top:80px; right:95px;}
/*宣传栏*/
/*演示栏目*/
.link_box{ width:1002px; height:172px;}
.link_box li{ width:246px; height:172px; float:left; background:url(../img/cont_box_bg.png) no-repeat; position:relative;}
.link_box_tt{ width:222px; height:40px; background:url(../img/link_bg.png); position:absolute;line-height:40px; text-align:center; margin:0 auto; z-index:10; bottom:0; left:12px; bottom:17px; color:#fff; font-size:18px; overflow:hidden;}
.link_box_tt:hover{ height:80px;}
.link_box_img{width:222px; height:148px; z-index:1;margin:6px auto; display:block;}
/*演示栏目*/
/*我们的用户*/
.user_img{ width:780px; height:412px; margin:0 auto;}
/*我们的用户*/
/*底部*/
#footer{ width:100%; height:300px; background:#1a1d24;margin-top: 20px;}
.footer_in{ width:862px; height:250px; margin:0 auto; padding:30px 40px 0 100px;}
.footer_left{ width:280px; height:275px;float:left; color:#ABABAB; font-size:14px;}
.weixin_img{ width:123px; height:124px; margin:10px 0;}
.footer_left p{ line-height:28px;}
.footer_right{ width:500px; height:265px;float:left;}
.footer_right_box{ width:500px; height:160px; font-size:14px;}
.footer_right_tt{ width:72px; height:160px; float:left; text-align:center; line-height:40px; margin-left:70px;}
.footer_right_tt h2{ color:#fff; font-size:18px;}
.footer_right_tt a{ color:#ABABAB;}
.footer_right_tt a:hover{ color:#fff;}
.footer_right_menu{ width:450px; height:110px; line-height:110px; padding:0 25px;color:#ABABAB;}
.footer_right_menu a{ padding:0 17px;color:#ABABAB;}
.footer_right_menu a:hover{ color:#fff;}
/*底部*/
/*当前位置*/
.pos{ background:#f3f3f3;height:30px; line-height:30px; border-left:#e9e9e9 20px solid; padding-left:15px; margin-bottom:30px;}
.pos a:hover{ color:#0076ca}
.con_box{ width:100%; overflow:hidden;}
.con_box_left{ width:96px; float:left;text-align:center;}
.con_box_left h2{ color:#0076ca; font-size:24px;height:50px;}
.con_box_left a{font-size:16px; line-height:34px; width:94px; height:34px; display:block; margin-top:10px;}
.con_box_left a:hover{ background:url(../img/notice_bg.png) no-repeat; color:#fff;}
.notice_act{ background:url(../img/notice_bg.png) no-repeat;color:#fff;}
.con_box_right{ width:800px; float:right; margin-right:10px;}
.tit{color:#858585; font-size:24px;height:50px; font-weight:bold;}
.notice_list{ width:740px; padding:10px 20px; margin:0 auto;}
.notice_list li{ width:700px; height:40px; background:url(../img/ico.gif) no-repeat 1% 50%; line-height:40px; padding:0 20px 0 20px; font-size:14px;}
.notice_list li:hover{ background:#91a6bb url(../img/ico_02.png) no-repeat 1% 50%; color:#fff;}
.notice_list li:hover a{ color:#fff}
.notice_list li a{ float:left; width:500px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.notice_list li span{ float:right}
.con_box_right h2{ text-align:center}
.news_tt{ text-align:center; color:#666666; line-height:34px; font-size:14px;}
.news{ line-height:30px; text-indent:28px;}
.message{ width:720px; height:260px; background:#e1f1fd; margin:40px 0 40px 0; padding:40px 50px; font-size:14px;}
.message p{ margin-top:15px;}
.message label{display:block; width:70px;text-align:right; float:left;line-height:32px;}
.message_txt{ width:570px; height:120px; border:#91a6bb 1px solid; padding:10px;}
.message input{ width:110px; height:30px;padding:0 10px; line-height:30px; border:#91a6bb 1px solid; float:left;}
.message img{float:left;}
.code_img{ float:left; width:95px; height:45px;}
.message_btn{ padding:0 25px !important;height:32px;background:#5cb85c;font-size:14px;display:block; display:inline-block; float:left; line-height:32px;}
.message_btn:hover{ background:#c64e4e; color:#fff;}
.message  em{ line-height:32px; float:left; padding:0 15px;}
.message  a{ line-height:32px; float:left; padding:0 10px;}
/*当前位置*/
/*全站搜索*/
.con_box_check h5{width:750px; height:35px; margin:0 auto; line-height:35px;font-size:16px; color:#777777; }
.con_box_check p{ width:750px; height:57px; margin:0 auto; line-height:57px; font-size:16px; color:#777777;}
.con_box_check em{ padding:0 10px;}
.con_box_input{ width:579px; height:55px; line-height:55px; float:left; border:#91a6bb 1px solid; padding:0 13px; font-size:18px; color:#777777}
.con_box_btn{width:140px; height:57px; background:#0076ca; color:#fff; display:block; float:left; line-height:57px; text-align:center;}
.con_box_btn:hover{ background:#c64e4e;}
.check_res{ height:52px; background:#91a6bb; line-height:52px; padding:0 25px; font-size:24px; color:#fff; margin-top:40px;}
/*文章分页*/
.pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:4px}
.pagination>li{display:inline}.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.428571429;text-decoration:none;background-color:#fff;border:1px solid #ddd}
.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-bottom-left-radius:4px;border-top-left-radius:4px}
.pagination>li:last-child>a,.pagination>li:last-child>span{border-top-right-radius:4px;border-bottom-right-radius:4px}
.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus{background-color:#eee}
.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus{z-index:2;color:#fff;cursor:default;background-color:#428bca;border-color:#428bca}
.pagination>.disabled>span,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus{color:#999;cursor:not-allowed;background-color:#fff;border-color:#ddd}.pagination-lg>li>a,.pagination-lg>li>span{padding:10px 16px;font-size:18px}
.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{border-bottom-left-radius:6px;border-top-left-radius:6px}.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{border-top-right-radius:6px;border-bottom-right-radius:6px}
.pagination-sm>li>a,.pagination-sm>li>span{padding:5px 10px;font-size:12px}.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{border-bottom-left-radius:3px;border-top-left-radius:3px}
.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{border-top-right-radius:3px;border-bottom-right-radius:3px}
.pagination {margin:8px 0;display:block;/* text-align:center; */font-size:13px;} /* .pagination .controls a{border:0;} */
.pagination .controls input{border:0;width:30px;padding:0;margin:-3px 0 0 0;text-align:center;font-size:13px;background:transparent;}
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, 
.pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {cursor:default !important;}
